@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    --background: #131644;
    --secondary-dark: #5070ff;
    --secondary: #50c8ff;
    --secondary-light: #50ffdf;
    --primary: #ff8750;
    --primary-light: #ffede3; 
    --primary-dark : #e7431a; 
    --textColor: #041626;
    --titleColor: #042625; 

    --cardBackgroundP: #ff875020;
    --cardBackgroundS: #50c8ff20;

    --highlight: #fff;
    --accent: #007acc;

    font-family: Nunito;
    color: var(--textColor);

}